html {
  margin:0px;
  padding:0px;
}
body {
  font-family:'Times New Roman', Times, serif;
  background-color: azure;
  margin: 0px;
  padding:0px;
}
.nav {
  background: url(./images/background.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 0px;
  display:block;
  overflow:hidden;
}
.logo {
  width: 250px;
  height: 150px;
  border: none;
  padding: 0;
  opacity: 0.8;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#nav-components {
  display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 100px;
 margin-bottom: 0;
}
.navbar{
  display: flex;
  justify-content: flex-end;
}
.navbar ul{
  margin: 10px;
}
.nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: auto;
}
.nav ul li a{
  text-decoration: none;
  color:rgb(28, 226, 216);
}
.nav ul li a:hover {
  color:hsl(177, 78%, 80%);
}

.search-container {
  display:flex;
  align-items: center;
   input  {
  background-color: rgb(250, 245, 245);
  border:none;
  width:90%;
  height:20px;
  margin-right: 5px;
  margin-left: 5px;
  }
 input:hover, input:active {
  background-color: hsl(0, 0%, 83%);
  cursor:horizontal-text;
  border:none;
}
  button {
  background-color: whitesmoke;
  border:none;
  box-shadow: #333;
  padding-left: 5px;
  width: 80px;
  height:20px;

}
 button:hover {
  background-color: #dcd9d9;
}
}
.main{
  min-height: 100vh;
  display: block;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.art-framework {
  width: calc(70%);
  margin: 5px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left:auto;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  border:none;
  padding: 10px;
}
.art-framework img {
  width: calc(100%);
  height: 300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 1em;
}
.art-framework p {
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 1.5;
  
}
@media screen and (max-width: 768px) {
  .art-framework {
    flex: 0 1 calc(45% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .art-framework {
    flex: 0 1 calc(100% - 20px); /* Full width for smaller screens */
  }
}
footer {
  padding: 15px;
  background-color: white;
  margin-bottom: 0px;
  text-align: center;
 }

 footer #button-buytickets {
    color: #333;
    font-size: 32px;
    font-weight:bolder;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.12em;
    width: 400px;
    height: 50px;
    border:none;
    border-radius: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  footer #button-buytickets:hover, footer #button-buytickets:active {
    color:#6e6e6e;
    box-shadow: 5px 5px 5px #888;
  }
footer ul {
  margin-top: 0px;
  list-style-type: none;
}
.newsletter {
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:center;
  padding: 0px;
 }
 .newsletter button, .newsletter input {
  flex: 1;
  margin-right: 10px;
 }
  #newsletter-button {
  background-color:white;
  text-align: right;
  border: none;
  }
  #submit {
    border:none;
    border-radius: 0.4em;
    height: 30px;
    width: 80px;
   }
#footnote {
  margin: 0px;
  padding: 10px;
}
.main-collections{
  min-height: 100vh;
  display: block;
}
.collections {
  width: calc(30%-40px);
  height: 200px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#artist-div img {
  height:80%;
}
.collections img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
  padding: 10px;
}
.collections p {
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgb(10, 235, 235);
  background-color: none;
  padding: 10px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .collections {
    flex: 0 1 calc(45% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .collections {
    flex: 0 1 calc(100% - 20px); /* Full width for smaller screens */
  }
}

#artistContainer {
  display: flex;
  flex-wrap: wrap;
}
#artist-name {
  font-size: 16px;
  font-weight: none;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgb(10, 235, 235);
  padding: 0px;
  margin: 0px;
  text-align: center; 
  position: static;
  top: auto; 
  left: auto; 
  transform: none; 
  background-color: none;
}

.container {
  flex: 1 1 30%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
/* .container h3 {
  margin: 0px;
  padding: 0px;
}
.container h2 {
  margin-bottom: 0px;
}
.container p{
  margin: 0;
} */
.container img {
  display: block;
  width: 400px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 2em;

}
.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-top: 30px;
  padding: 10px;
}
.message .quotes p {
  padding: 10px;
  font-style:italic;

}
.address {
  margin-top: 30px;
  padding: 5px;

}
.social-media {
  margin-top: 0px;
}
.social-media a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}


.event_container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.event_container img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}
.event_container p {
  padding: 5px;
}
.event_container button {
  width: 300px;
  height: 60px;
  font-size: 32px;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  background:hsl(0, 3%, 79%);
  color:#333;
}
.event_container button:hover, .event_container button:active {
background-color:hsl(0, 15%, 90%) ;
color:#233;
}
.event_container:last-child {
margin-bottom: 20px;
}


.wendot {
  width: 100%;
  height: 30px;
}

#pageNumber {
  display: none;
  justify-content: center;
  align-items:center;
  margin: 20px;
}

#pageNumber p {
  color: rgb(13, 13, 119);
  text-align: center;
   margin: 0;
}

#pageNumber button {
  margin: 0 10px;
}