html {
  margin:0px;
  padding:0px;
}
body {
  font-family:'Times New Roman', Times, serif;
  background-color: azure;
  margin: 0px;
  padding:0px;
}
.nav {
  background: url(./images/background.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0px;
  display:block;
  overflow:hidden;
}
.logo {
  width: 200px;
  height: 100px;
  border: none;
  padding: 0;
  opacity: 0.8;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#nav-components {
  display: flex;
 justify-content: space-between;
 align-items: center;
}
.navbar{
  display: flex;
  justify-content: flex-end;
}
.navbar ul{
  margin: 10px;
}
.nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: auto;
}
.nav ul li a{
  text-decoration: none;
  color:rgb(28, 226, 216);
}
.nav ul li a:hover {
  color:hsl(177, 78%, 80%);
}

.search-container {
  display:flex;
  align-items: center;
   input  {
  background-color: rgb(250, 245, 245);
  border:none;
  width:90%;
  height:20px;
  margin-right: 5px;
  margin-left: 5px;
  }
 input:hover, input:active {
  background-color: hsl(0, 0%, 83%);
  cursor:horizontal-text;
  border:none;
}
  button {
  background-color: whitesmoke;
  border:none;
  box-shadow: #333;
  padding-left: 5px;
  width: 80px;
  height:20px;

}
 button:hover {
  background-color: #dcd9d9;
}
}
.main{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.art-framework {
  background-color: rgb(245, 242, 242);
  width: calc(33.3% - 20px);
  margin: 5px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
}
.art-framework img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  padding: 10px;
}
.art-framework p {
  margin: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
@media screen and (max-width: 768px) {
  .art-framework {
    flex: 0 1 calc(45% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .art-framework {
    flex: 0 1 calc(100% - 20px); /* Full width for smaller screens */
  }
}
footer {
  padding: 15px;
  background-color: white;
  margin-bottom: 0px;
  text-align: center;
 }

 footer #button-buytickets {
    color: #333;
    font-size: 32px;
    font-weight:bolder;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.12em;
    width: 400px;
    height: 50px;
    border:none;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  footer #button-buytickets:hover, footer #button-buytickets:active {
    color:#6e6e6e;
    box-shadow: 5px 5px 5px #888;
  }
footer ul {
  margin-top: 0px;
  list-style-type: none;
}
.newsletter {
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:center;
  padding: 0px;
 }
 .newsletter button, .newsletter input {
  flex: 1;
  margin-right: 10px;
  width: 30px;
 }
  #newsletter-button {
  background-color:white;
  text-align: right;
  border: none;
 }
#footnote {
  margin: 0px;
  padding: 10px;
}
.main-collections {
  min-height: 100vh;
  width: 100%;
  display: block;
  background-color: yellow;
}
.main-collections #colllections {
  background-color: red;;
  width: 50px;
  height: 30px;
  margin: 40px;
}